.x1program {
  height: auto;
  width: 100%;
  /* background: linear-gradient(120deg, #a47711, #289fbd, rgb(59, 188, 37)); */
  background: linear-gradient(120deg, #000000, #000000);
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.logo-usdt {
  display: flex;
  align-items: center;
  gap: 5px;
}

.level-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 30px; */
}

.levels {
  background: linear-gradient(120deg,
      #01F7FF,

      #9B51E0);
  height: auto;
  flex-basis: 35%;
  padding: 10px 10px;
  color: white;
  margin: 20px 0px;
}

.x1program {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 0;
}

.flex-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin: 0px 0px;
}

.flex-row2 {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
  margin: 0px 0px;
}

.circle.filled {
  background-color: green;
}

.levels {
  background-color: #72328e;
  height: 180px;
  flex-basis: 43%;
  padding: 10px 10px;
  color: white;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.locked-level {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.circles-x1 {
  height: 70%;
  width: 60%;
  margin: 0px 14%;
  padding: 5px 0px;
}

.all-circle {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0px;
}

.circle {
  height: 30px;
  width: 30px;
  margin: 2px 0px;
  border-radius: 50%;
  /* background-color: white; */
  display: inline-block;
}

.circle.filled {
  background-color: aqua;
}

.locked-level svg {
  color: white;
  font-size: 24px;
}

.active-btn {
  padding: 10px 20px;
  background-color: aqua;
  color: black;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
}

.hello {
  background: linear-gradient(90deg,
      rgb(243, 113, 113),
      #de781e61,
      rgba(25, 91, 156, 0.409));
  background-color: rgba(0, 255, 255, 0.721);
  border-radius: 10px;
}

.circle2x2 {
  border: 4px solid rgba(0, 255, 255, 0.721);
}

.filledcircle {
  background-color: yellow;
}