@tailwind base;
@tailwind components;
@tailwind utilities;



.ju367vn{
    border-radius: none !important;
}
.ju367v9i {
    background: none !important;;
}
.ju367va3{
    background: none !important;;
}
.ju367v7t{
    padding-right: 0px !important;
}
.ju367v78{
    padding-left: 0px !important;
}
.ju367v2g {
    height: 20px !important;
}
/* .iekbcc0 svg{
    display: none;
} */
.ju367v8a{
    padding-top: 0px !important;
}
.ju367v7q{
    padding-right:0px !important ;
}
.ju367v75{
    padding-left: 0px !important;
}
.ju367v6j{
    padding-bottom: 0px !important;
}
.ju367vw{
    border-width: 0px !important;
}